*
{
    margin: 0;
    padding: 0;
	max-width: 100%;
    overflow-x: hidden;
}

html
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-color: #d8bb8c;
	padding: 0.5rem;
}

.logo {
    width: 4rem;
    height: 4rem;
    padding: 2rem 1rem;
    top: 0;
    left: 0;
}

header
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner
{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 3rem;
    border-radius: 5px;
}

a
{
    text-decoration: none;
    color: #080808;
    cursor: pointer;
}


.container, .ad
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
@media screen and (max-width: 850px) {
    .column {
      width: 50%;
    }
    .container, .ad, footer
    {
        flex-wrap: wrap;
        justify-content: center;
    }

  }

.grid-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: 2rem;
    justify-content: center;
    margin-bottom: 3rem;
	padding: min(15px, 7%);
}

.ad 
{
	justify-content: center;
	align-content: center;
	width:100%;
	object-fit: cover;
    object-position: bottom;
}

.divulgacao
{
	padding: 0.5rem;
	align-content: center;
	text-align; center:
}

h1, h2
{
    margin: 30px 0;
    text-align: center;
	color: #080808;
    margin: 2.8rem 0;
	text-decoration: underline;
}

.card
{
    padding: 1.2em;
    border: 1px solid rgb(75, 82, 92);
    border-radius: 10px;
    background-color: #222429;
    /*margin: 1em; gap no grid principal deu espaço entre os cards*/
    text-align: justify;
    line-height: 2;
    
}

.card p
{
    text-indent: 10px;
}

.img-card
{
    width: 100%;
    border-radius: 5px;
}

aside
{
    top: 0;
    margin-bottom: 3rem;
}

aside p 
{
    color: #080808;
    text-align: center;
}

.img-ad
{
	width: 100%;
}

.img-aside
{
    width: 5rem;
    height: 5rem;
    padding-top: 4rem;
    margin-bottom: 2rem;
}

figcaption
{
    color: #080808;
}


.ad section p 
{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: rgb(218, 19, 19);
}

em {
    font-style: normal;
    text-decoration: underline;
}

blockquote
{
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 3;
    text-align: justify;
    padding: 1rem;
    color: #080808;
	text-indent: 10px;
}

.places
{
    text-align: center;
    justify-content: center;
    list-style-type: none;
    line-height: 3;
	color: brown;
}

.emergency
{
    margin-top: 1rem;
    background-color: red;
}

.emergency p
{
    font-weight: 900;
    font-size: 6rem;
}

button
{
    width: 50%;
    margin: 1.5rem 0;
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    cursor: pointer;
    font-size: 1.8em;
    border: none;
}

button:hover 
{
    background-color: #080808;
    color: white;
}

.term
{
    margin: 2rem 0;
}


footer {
    background-color: #080808;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10rem 0;
    margin-top: 1rem;
}