.container
{
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 500px;
}


@media screen and (max-width: 1080px) 
{
    .container{
        background-color: red;
    }

    h2::after{
        content: "Vermelho";
        color: black;
    }
}